@model IEnumerable<TransactieModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Mijn transacties</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Datum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Donatie)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Datum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Donatie)
            </td>
            <td>
                <form asp-action="Details" asp-route-id="@item.TransactieID" method="get">
                    <button class="btn btn-info">Details</button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
